<div class="container">
  <div class="col-md-6 col-sm-12">
    <h3>Forgot your password?</h3>
    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
      <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
    </svg>
    <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
      <div class="email">
        <div class="form-group form-floating mb-3">
          <input type="email" class="form-control" id="email" formControlName="Email" required placeholder="Enter Your Email Address" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
          <div *ngIf="submitted && f['Email'].errors">
            <div *ngIf="f['Email'].errors['required']" class="validation">Email is required.</div>
            <div *ngIf="f['Email'].errors['pattern']" class="validation">Please enter a valid email address.</div>
          </div>
          <label for="email">Enter Your Email Address</label>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="Password" formControlName="Password" placeholder="Enter A New Password">
        <div *ngIf="submitted && f['Password'].errors">
          <div *ngIf="f['Password'].errors && f['Password'].errors['required']" class="validation">Password is required.</div>
          <div *ngIf="f['Password'].errors['minlength']" class="validation">Password at least 8 characters.</div>
        </div>
        <label for="Password">Enter a New Password</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="Password2" formControlName="ConfirmPassword" placeholder="Confirm Your New Password">
        <div *ngIf="submitted && f['ConfirmPassword'].errors">
          <div *ngIf="f['ConfirmPassword'].errors && f['ConfirmPassword'].errors['required']" class="validation">Confirm Password is required.</div>
          <div *ngIf="f['ConfirmPassword'].errors['MustMatch']" class="validation">The confirm password does not match</div>
        </div>
        <label for="Password2">Confirm Your New Password</label>
      </div>
      <button type="submit" class="btn btn-primary">Continue</button>
    </form>

  </div>
</div>
