.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

h3{
  margin-top: 70px;
  text-align: center;
  font-weight: 700;
}

.bi-key-fill{
  color: #502a6f;
  text-align: center;
  margin: 5px 0 5px 280px;
}

form {
margin-left: 100px;
}

.form-floating{
  width: 450px;
}

.form-floating label {
  color: grey;
  font-size: 14px;
}

.form-control {
  box-shadow: none;
  border-color:#502a6f;
  border-radius: 10px;
}

button{
  margin-top: 9px;
  margin-left: 25px;
  width: 400px;
  border-radius: 10px;
  border-color: #502a6f ;
  background-color: #502a6f ;
}

button:hover{
  border-color: #502a6f ;
  background-color: #502a6f ;
}

.validation{
  color: #502a6f ;
  font-size: 10px;
}
